
<div class="content-wrapper">
  <h2 class="mb-40">Welcome to <span class="text-primary">C-Manager</span></h2>
  
  <p>Login with your google account to start using this web application.</p>
  <br>
  <p>You can use this app to create and track customers and their orders.</p>
  <p>You can easily find a customer by viewing them in table form, as a card list, or as markers on a map.</p>
  <p>While it table view, customers can be sorted by any of their properties.</p>
  <p>You can also delete or edit existing customers to add any required details.</p>

  <p>This app is still in development and is missing several key features.</p>
</div>
