
<form #form="ngForm" (ngSubmit)="submit()">
    
  <!-- First Name -->
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      [(ngModel)]="customer.firstName"
      #firstName="ngModel"
      required
    >
    <div class="alert-danger alert" *ngIf="firstName.touched && firstName.errors?.required">
      First Name is required
    </div>
  </div>
  
  <!-- Last Name -->
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="customer.lastName"
      #lastName="ngModel"
      required
    >
    <div class="alert-danger alert" *ngIf="lastName.touched && lastName.errors?.required">
      Last Name is required
    </div>
  </div>

  <!-- Gender -->
  <div class="form-group">
    <div>
      <label>Gender</label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input 
          class="form-check-input" 
          type="radio" 
          name="gender" 
          id="genderMale"
          [(ngModel)]="customer.gender"
          #genderMale="ngModel"
          value="male"
          required          
        > 
          Male
        </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input 
          class="form-check-input" 
          type="radio" 
          name="gender" 
          id="genderFemale" 
          #genderFemale="ngModel"          
          [(ngModel)]="customer.gender"
          value="female"
          required
        > 
        Female
      </label>
    </div>
  </div>
  
  <!-- Address -->
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text"
      class="form-control"
      id="address"
      name="address"
      [(ngModel)]="customer.address"
      #address="ngModel"
      required
    >
    <div class="alert-danger alert" *ngIf="address.touched && address.errors?.required">
      Address is required
    </div>
  </div>
  
  <!-- City -->
  <div class="form-group">
    <label for="city">City</label>
    <input type="text"
      class="form-control"
      id="city"
      name="city"
      [(ngModel)]="customer.city"
      #city="ngModel"
      required
    >
    <div class="alert-danger alert" *ngIf="city.touched && city.errors?.required">
      City is required
    </div>
  </div>
  
  <!-- Location -->
  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input 
          type="checkbox"
          class="form-check-input" 
          id="setLocation"
          name="setLocation"
          [(ngModel)]="setLocation"
        > 
          Map Location
        </label>
    </div>
    <div class="map" *ngIf="setLocation">
      <agm-map 
        [latitude]="customer.hasLocation ? customer.location.latitude : 0" 
        [longitude]="customer.hasLocation ? customer.location.longitude : 0"
        [zoom]="1"
        (mapClick)="clickedMap($event)"
      >
        <agm-marker 
          [latitude]="customer.location?.latitude || 0" 
          [longitude]="customer.location?.longitude || 0"
        >
        </agm-marker>
      </agm-map>
    </div>
    
  </div>



  <!-- Sumit -->
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Submit
  </button>
</form>

<div>
  {{ customer | json }}
</div>