
@import '~bootstrap/dist/css/bootstrap.css';

//==================================
// Theme variables
//==================================

$custom-black: #04202c;
$light: #c9d1c8;
$light-hover: #dce4dc;
$primary: #5b7065;
$primary-hover: #688073;
$dark: #304040;
$dark-hover: #384b4b;
$accent: #B23224;
$accent-hover: rgb(155, 32, 20);
$muted: #999;
$shadow: rgba(30, 31, 38, 0.1);
$table-border: #c7defd;


body {
  font-family: Tahoma, sans-serif;
  background: $light;
  font-size: 18px;
  color: $custom-black;
}

.content-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
}

//==================================
// Navbar
//==================================

nav, 
.dropdown-menu {
  background: $dark;
  color: $light;
}

.navbar-brand,
.navbar-nav .nav-link,
nav li {
  color: $light;
}

.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover {
  color: $light-hover;
}

.navbar-toggler {
  color: $light;

  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-toggler-icon {
  padding: 5px;
}

ul.dropdown-menu {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

li[dropdown] {
  cursor: pointer;

  &:hover,
  li:hover {
    color: $light-hover;
  }
  
}

.left-auto {
  left: auto !important;
}

//==================================
// Buttons
//==================================

button {
  cursor: pointer;
}


//==================================
// Utilities
//==================================

.mb-40 {
  margin-bottom: 40px;
}
