
@import '~bootstrap/dist/css/bootstrap.css';

//==================================
// Theme variables
//==================================

$custom-black: #0f1b07;
$light: #fafafa;
$light-hover: #d8d7d7;
$primary: #5c821a;
$primary-hover: rgb(138, 189, 44);
$dark: #0f1b07;
$dark-hover: rgb(59, 95, 32);
$danger: #a01d26;
$danger-hover: #c92e38;
$accent: #c6d166;
$accent-hover: #dfec66;
$muted: #AAA;
$shadow: rgba(30, 31, 38, 0.1);


$table-even-bg: #f6ffe6;
$table-odd-bg: #fcfff5;
$table-border: pink;


body {
  font-family: Tahoma, sans-serif;
  background: $light;
  font-size: 18px;
  color: $custom-black;
  font-family: Georgia, sans-serif;
}

.content-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
}

h1 {
  margin-bottom: 40px;
  font-size: 2.2rem;
}

//==================================
// Navbar
//==================================

nav, 
.dropdown-menu {
  background: $light;
  color: $dark;

  -webkit-box-shadow: 0px 1px 2px 1px $shadow;
  -moz-box-shadow: 0px 1px 2px 1px $shadow;
  box-shadow: 0px 1px 2px 1px $shadow;
}

.navbar-brand {
  color: $primary;

  &:hover {
    color: $primary-hover;
  }
}

.navbar-nav .nav-link,
nav li {
  color: $dark;
}

.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover {
  color: $primary;
}

.navbar-toggler {
  color: $dark;

  &:focus {
    border: none;
    outline: none;
  }
}

.navbar-toggler-icon {
  padding: 5px;
}

ul.dropdown-menu {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
}

li[dropdown] {
  cursor: pointer;

  &:hover,
  li:hover {
    color: $primary;
  }
  
}

.left-auto {
  left: auto !important;
}

//==================================
// Buttons
//==================================

button {
  cursor: pointer;
}


.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $light;
  
  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }
  
  &.disabled, &:disabled {
    background-color: $primary;
    border-color: $primary;
    color: $light;
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle,
  &:focus, 
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 189, 44, 0.5);
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }  
}

.btn-secondary {
  background-color: $accent;
  border-color: $accent;
  color: $dark;

  &.highlighted,
  &:hover {
    background-color: $accent-hover;
    border-color: $accent-hover;
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle,
  &:focus, 
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 189, 44, 0.5);
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle {
    background-color: $accent-hover;
    border-color: $accent-hover;
  }

  &.disabled, &:disabled {
    background-color: $accent;
    border-color: $accent;
    color: $dark;
  }
}

.btn-default {
  background-color: $dark;
  border-color: $dark;
  color: $light;
  
  &.highlighted,
  &:hover {
    background-color: $dark-hover;
    border-color: $dark-hover;
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle,
  &:focus, 
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 95, 32, 0.5);
  }
  
  &:not([disabled]):not(.disabled):active, 
  &:not([disabled]):not(.disabled).active, 
  .show > &.dropdown-toggle {
    background-color: $dark-hover;
    border-color: $dark-hover;
  }
}


//==================================
// Table
//==================================

.table-custom-striped {

  thead {
    tr {
      background-color: $table-even-bg;
      color: $dark;

      th.sortable:hover {
        cursor: pointer;
        background-color: $accent-hover;
      }
      // th:hover {
      //   cursor: pointer;
      //   background-color: $accent-hover;
      // }
      // th:hover {
      //   cursor: pointer;
      //   background-color: $accent-hover;
      // }
      // th:first-child:hover, 
      // th:last-child:hover {
      //   cursor: initial;
      //   background-color: $table-even-bg;
      // }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $table-even-bg;
    }
    tr:nth-child(odd) {
      background-color: $table-odd-bg;
    }
  }

}

//==================================
// Inputs
//==================================


input.completed, 
select.completed {
  border-left-color: $primary !important;
}

.input-group-addon {
  color: $dark;
}

.form-control {
  color: $dark;
  background-color: $light;
  border-color: $muted;
  border-left-width: 4px;
  
  &:focus {
    border-left-width: 4px;
    color: $dark;
    background-color: $light;
    border-color: $primary;
    outline: none;
    box-shadow: none;
  }
}


//==================================
// Utilities
//==================================

.mb-40 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.m-0auto {
  margin: 0 auto;
}

.bg-primary {
  background-color: $primary !important;
}
.text-primary {
  color: $primary !important;
}
.border-primary {
  border-color: $primary !important;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark !important;
}

.link-light {
  color: $light !important;
  
  &:hover {
    text-decoration: none !important;
    color: $light-hover !important;
    cursor: pointer;
  }
}

.link-primary {
  color: $primary !important;
  
  &:hover {
    text-decoration: none !important;
    color: $primary-hover !important;
    cursor: pointer;
  }
}

.link-danger {
  color: $danger !important;
  
  &:hover {
    text-decoration: none !important;
    color: $danger-hover !important;
    cursor: pointer;
  }
}

.hover-primary-hover:hover {
  color: $primary-hover !important;
}

.font-16 {
  font-size: 16px;
}

agm-map {
  height: 300px;
}

accordion-group {
  max-width: 700px;
  color: $dark;

  &:hover {
    cursor: pointer;
  }
  
  .panel-heading {
    background-color: $light;
  }

  .badge {
    background-color: $primary;
    color: $light;
  }
}

//==================================
// Queries
//==================================

@media (min-width: 768px) {
  .container {
      max-width: 900px;
  }
}